*{
    margin: 0;
    padding: 0;
    
}
nav{
    
    padding: 20px;
    background-color: black;
    color:white;
    
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: gray;
}
li:hover{
    color: white;
    cursor: pointer;
}
input{
    padding: 15px;
    width: 750px

}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 250px;
    color: black;
}
.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.products{
    padding: 10px;
    text-align: center;
}
.about{
    
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}